html,
body,
.container {
    height: 100%;
}


body {
	background-color: #b1e5fd4a;
	color:#667073;
	font: 16px/1.3 'Arial',sans-serif;
}

h1 {
    text-align: center;
}

.chat-container {
    background: #fff;
    box-shadow: 0 3px 3px #e3e4e6;
    margin-top: 30px;
    margin-bottom: 30px;
}

.chat-container .box {
    background: #fff;
    border-bottom-right-radius: 10px;
}


.connected {
	text-align:center;
	display: block;
	margin:0px auto;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
    color: #637277;
    padding: 100px 50px;
    width: 100%;
}

.connected label {
    font-size: 24px;
}

.connected .form-control {
    margin: 20px 0;
}

#creatorImage {
	width: 100px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#yourUsername {
	float:left;
	padding-left:10px;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	margin-bottom:20px;
	overflow: hidden;
}

#yourEnter {
	/* width: 110px;
	height: 40px; */
    /* background-color: #204fe9; */
    padding: 0.75em 3em;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color:white;
	font-weight: bold;
	font-size: 15px;
}


.chatscreen {
    display: none;
    width: 900px;
    margin: 0 auto 200px;
    overflow: hidden;
}

#chatform {
    width: 900px;
    margin: 0 auto;
    /* background-color: white; */
}

textarea {
    z-index: auto;
    position: relative;
    line-height: 20.8px;
    font-size: 16px;
    transition: none;
    /* background: transparent !important; */
}

#message {
    border: 1px solid #cccccc;
    border-radius: 2px;
    resize: none;
}

.chats {
    list-style-type: none;
    margin-top: 10px;
}

.me {
    clear: both;
    float: left;
    margin-bottom: 10px;
}

.image {
    clear: both;
    float: left;
    height: 100px;
    text-align: center;
    overflow: hidden;
}

.image img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.image b {
    overflow: hidden;
    display: block;
    clear: both;
    padding-top: 7px;
}

.chats .me p {
    text-align: left;
    float: left;
    margin: 0 0 30px 20px;
    display: inline-block;
    padding: 25px 34px;
    min-width: 160px;
    min-height: 10px;
    max-width: 510px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #E3E4E6;
    color: #637277;
    line-height: 1.4;
    word-wrap: break-word;
}

.image time {
    font-size: 12px;
    line-height: 1.2;
    display: block;
    opacity: 0.8;
    padding-top: 4px;
}


#side-bar {
    background: #f9fcfd;
}

.app-name {
    padding: 40px 0;
    background: #01579B;
    color: #fff;
    border-top-left-radius: 10px;
}

.app-name p{
    font-size: 20px;
    padding-left: 20px;
    margin: 0;
    border-right: 1px solid #fff;
}

.search {
    padding: 40px 0;
}

.search .form-control {
    width: 80%;
}

.search-icon, .user-photo {
    margin: 0 10px 0 0;
}

.search input {
    padding: 10px;
    margin-left: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
}

.current-user {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #01579B;
    color: #fff;
    border-bottom-left-radius: 10px;
}

#side-bar g {
    cursor: pointer;
    padding: 2px;
}

.users .user.active::after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: green;
    content: '';
    position: absolute;
    right: 20px;
    top: 30px;
}

.user {
    cursor: pointer;
}

.user-photo #creatorImage {
    width: 30px;
}

.chat-header {
    padding: 40px 30px;
    background: #01579B;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 10px;
}

.options {
    text-align: right;
}

.options a {
    color: #fff;
    padding: 0 10px;
}

.login {
    display: flex;
    align-items: center;
    height: 100vh;
}

.logout {
    cursor: pointer;
}

@media (min-width: 768px) {
    .infoConnected {
        text-align: left;
    }
    #creatorImage {
        margin-bottom: 0;
    }
    .connected {
        width: 70%;
    }
    .users {
        min-height: 400px;
    }

    .user .user-info p {
        margin: 20px 0;
    }
}

.messages {
    min-height: 500px;
}

.message-container {
    padding: 20px 30px;
}

.message-container.right {
    text-align: right;
}

.message-container .message {
    background: #9fc5f9;
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
}

.message-container.right .message {
    background: #e2d880;
    border-radius: 15px;
    border-top-right-radius: 0;
}

.message-container .data {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    padding-right: 10px;
    text-align: right;
}

.typing-user {
    font-size: 14px;
    text-align: right;
}
.chat-form .form-group {
    display: inline-block;
    width: 80%;
    padding: 10px;
    text-align: center;
}
.chat-form .form-control {
    width: 80%;
    margin: 10px;
    display: inline-block;
}

.chat-form .btn {
    padding: 6px 20px;
}

@media (max-width: 767px) {
    .current-user {
        margin-bottom: 20px;
    }

    .options, .app-name {
        display: none;
    }
    .chat-form .form-group {
        width: 70%;
    }
    .chat-form .form-control {
        width: 95%;
    }

    .user-photo #creatorImage {
        display: inline-block;
        margin: 10px 0;
    }
    
}

.error {
    padding: 20px 0;
    color: red;
}